<div class="list-container">
  <header class="list-header">
    <div>
      <h1>My Wardrobe</h1>
      <p>Manage your collection ({{ filteredAndSortedItems.length }} items)</p>
    </div>
  </header>

  <section class="filters-bar">
    <div class="search-box">
      <span class="material-symbols-outlined">search</span>
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="applyFilters()" placeholder="Search by name or brand...">
    </div>

    <div class="dropdowns">
      <select [(ngModel)]="selectedCategory" (ngModelChange)="applyFilters()" class="filter-select">
        <option value="">All Categories</option>
          @for ( cat of categories; track cat ) {
            <option value="{{ cat }}">{{ cat }}</option>
          }
      </select>

      <select [(ngModel)]="selectedStatus" (ngModelChange)="applyFilters()" class="filter-select">
        <option value="">All Statuses</option>
          @for ( status of statuses; track status ) {
            <option value="{{ status }}">{{ status }}</option>
          }
      </select>

      <select [(ngModel)]="selectedSort" (ngModelChange)="applyFilters()" class="filter-select">
        <option value="">Default Sort</option>
        @for ( option of sortOptions; track option ) {
          <option value="{{ option }}">{{ option }}</option>
        }
      </select>

      <select [(ngModel)]="selectedColor" (ngModelChange)="applyFilters()" class="filter-select">
        <option value="">All Colors</option>
          @for ( color of colors; track color ) {
            <option value="{{ color }}">{{ color }}</option>
          }
      </select>
    </div>
  </section>

  <section class="grid-section">
    @if (filteredAndSortedItems.length === 0) {
      <div class="empty-state">
        <span class="material-symbols-outlined">sentiment_dissatisfied</span>
        <p>No items found matching your filters.</p>
      </div>
    }

    @for ( item of filteredAndSortedItems ; track item ) {
      <app-item-card [item]="item"></app-item-card>
    }
  </section>
</div>
