<div class="outfits-container">
  <header class="page-header">
	<a routerLink="/outfits" class="back-link">
	  <span class="material-symbols-outlined">arrow_back</span>
	  Back to My Outfits
	</a>
    <h1>Create New Outfit</h1>
    <p>Mix and match your items to create favorite outfits.</p>
  </header>

  <section class="create-section">
    <div class="creation-form">
      <input type="text" [(ngModel)]="newOutfitName" placeholder="Name your outfit (e.g. Summer Casual)..." class="outfit-input">
      <button class="btn-primary" (click)="saveOutfit()" [disabled]="!newOutfitName || selectedItemIds.length === 0" routerLink="/outfits">
        <span class="material-symbols-outlined">add_circle</span> Save Look
      </button>
    </div>

    <p class="instruction">Click on items to add them to this look:</p>

    <div class="filters-bar">
      <div class="dropdowns">
        <select [(ngModel)]="selectedCategory" (ngModelChange)="applyFilters()" class="filter-select">
          <option value="">All Categories</option>
          @for ( cat of categories; track cat ) {
            <option value="{{ cat }}">{{ cat }}</option>
          }
        </select>
        <select [(ngModel)]="selectedStatus" (ngModelChange)="applyFilters()" class="filter-select">
          <option value="">All Statuses</option>
          @for ( status of statuses; track status ) {
            <option value="{{ status }}">{{ status }}</option>
          }
        </select>
        <select [(ngModel)]="selectedColor" (ngModelChange)="applyFilters()" class="filter-select">
          <option value="">All Colors</option>
          @for ( color of colors; track color ) {
            <option value="{{ color }}">{{ color }}</option>
          }
        </select>
      </div>
    </div>

    <div class="selection-grid">
      @for (item of filteredItems; track item.id) {
        <div class="selectable-item" (click)="toggleSelection(item.id)" [class.selected]="isSelected(item.id)">
          <div class="item-img" [style.backgroundImage]="'url(' + item.imageUrl + ')'"></div>
          <p class="subtitle-img">{{ item.name }}</p>
          @if (isSelected(item.id)) {
            <div class="item-overlay">
              <span class="material-symbols-outlined">check_circle</span>
            </div>
          }
        </div>
      }
    </div>
  </section>
</div>
