<div class="outfits-container">
  <header class="page-header">
    <div class="header-titles">
      <h1>My Outfits</h1>
       <button routerLink="/outfits/new" class="btn-primary create-btn">
        <span class="material-symbols-outlined">add</span>
        Add Outfit
      </button>
    </div>
    <p>Mix and match your items to create favorite outfits.</p>
  </header>
  <div class="filters-bar">
    <div class="search-box">
      <span class="material-symbols-outlined">search</span>
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="applyFilters()" placeholder="Search by name or occasion...">
    </div>
  </div>
  <section class="saved-section">
    @if (savedOutfits.length === 0) {
      <div class="empty-state">
        <span class="material-symbols-outlined">style</span>
        <p>No outfits saved yet. Start mixing and matching!</p>
      </div>
    }
    <div class="outfits-list">
      @for (outfit of filteredOutfits; track outfit.id) {
        <app-outfit-card
          [outfit]="outfit"
          [allItems]="wardrobeItems"
          (deleteClick)="deleteOutfit($event)"
          (cardClick)="openModal($event)">
        </app-outfit-card>
      }
    </div>
@if (selectedOutfitToView) {
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <header class="modal-header">
        <div>
          <h2>{{ selectedOutfitToView.name }}</h2>
          <p class="modal-subtitle">{{ selectedOutfitToView.trip }}</p>
        </div>
        <button class="btn-icon close-btn" (click)="closeModal()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </header>
      <div class="modal-body">
        <div class="modal-grid">
          @for (item of outfitItemsToShow; track item.id) {
              <app-item-card [item]="item"></app-item-card>
          }
        </div>
      </div>
    </div>
  </div>
  }
  </section>
</div>
